.declaration-order {
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  bottom: 0;
  color: #333;
  display: block;
  float: right;
  font: normal 13px "Helvetica Neue", sans-serif;
  height: 100px;
  left: 0;
  line-height: 1.5;
  opacity: 1;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100px;
  z-index: 100;
}
