/* Bad example */
.element {
  background: red;
  background: url("image.jpg");
  border-radius: 3px 3px 0 0;
  margin: 0 0 10px;
}

/* Good example */
.element {
  background-color: red;
  background-image: url("image.jpg");
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 10px;
}
