/* Single declarations on one line */
.span1 { width: 60px; }
.span2 { width: 140px; }
.span3 { width: 220px; }

/* Multiple declarations, one per line */
.icon           { background-position: 0 0; }
.icon-account   { background-position: 0 -40px; }
.icon-home      { background-position: 0 -20px; }
.sprite {
  background-image: url(../img/sprite.png);
  display: inline-block;
  height: 15px;
  width: 16px;
}
